@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');* {
    font-family: 'Inter', sans-serif;
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 48px;
    color: #243e63;
}

.purple {
    color: #6415ff;
}

.container {
    padding: 64px 32px;
    display: flex;
}

/* NAVIGATION */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link {
    padding-right: 24px;
    color: #243e63;
    font-size: 14px;
}

.contact {
    margin-right: 24px;
}

.nav_link-circle,
.learn_circle {
    font-size: 14px;
    color: #f7fafc;
    border: solid 1px #6415ff;
    background-color: #6415ff;
    border-radius: 16px;
    padding: 8px 16px;
}

.nav_logo {
    width: 40px;
    height: 40px;
    display: flex;
    margin-right: 8px;
}

.nav_logo-text {
    font-size: 24px;
    font-weight: bold;
}

.nav_logo-and-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.header_wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.heading_title {
    text-align: left;
}

.heading_para {
    text-align: left;
    margin: 20px 0;
}

.heading_form {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 100px;
    padding: 8px 4px;
}

.heading_input-btn {
    color: white;
    background-color: #6415ff;
    border: none;
    border-radius: 100px;
    width: 100%;
    padding: 16px 2px;
}

.heading_input {
    flex-grow: 2;
    border: none;
    padding: 0 16px;
    background: none;
    outline: none;
}

.heading_brand_para {
    margin-top: 80px;
}

.heading_img {
    width: 60%;
    padding-left: 32px;
}

/* FEATURES */

.features_title, .features_para, .features_purple {
    text-align: center;
}

.features_title {
    margin-top: 16px;
}

.features_purple,
.learn_purple,
.steps_purple,
.values_purple {
    color: #6415ff;
    font-weight: bold;
}

.features_para,
.service_description {
    color: #7c8ba1;
}

.features_para {
    margin: 32px 80px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 16px;
}

.service_title {
    font-size: 24px;
    font-weight: bold;
    color: #243e63;
}

.service_para {
    margin-top: 8px;
}

.fa-shield::before,
.fa-headset::before,
.fa-sliders::before,
.fa-arrow-right-arrow-left::before,
.fa-bolt::before,
.fa-user-clock::before
 {
    border: 1px solid #7c8ba1;
    font-size: 16px;
    border-radius: 50%;
    padding: 8px;
    color: #6415ff;
    margin-right: 8px;
}

/* LEARN */

.learn_texts,
.values_texts {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.learn_title,
.learn_para,
.values_title,
.values_para {
    margin-top: 16px;
}

.learn_circle {
    margin-top: 32px;
    width: 120px;
    text-align: center;
}

.learn_img,
.values_img {
    width: 50%;
    align-self: center;
    padding-left: 32px;
}

/* STEPS  */

.steps_img {
    width: 50%;
    align-self: center;
}

.steps_texts {
    width: 50%;
    padding-left: 32px;
}

.steps_title {
    margin-top: 16px;
}

.steps_list {
    display: flex;
    margin-top: 32px;
}

.steps_list_number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: bold;
}

.steps_list_title {
    color: #243e63;
    font-size: 20px;
}

.steps_list_para {
    color: #718096;
    font-size: 14px;
    margin-top: 12px;
}

.steps_text_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

/* VALUES  */

